<?xml version="1.0"?>
<config>
    <modules>
        <Test_Helloworld>
            <version>0.1.0</version>
        </Test_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Test_Helloworld</module>
                    <frontName>tsg_helloworld</frontName>
                    <!--Name url-->

                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>tsg_helloworld.xml</file>
                    <!--Path to xml file-->
                </helloworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>Test_Helloworld_Block</class>
            </helloworld>
        </blocks>
    </global>
</config>